@charset "UTF-8";

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    float: right;
    list-style-type: none;
    font-family: nunito; 
} 



li.dropdown {
    display: inline-block;
}


.dropdown-content {
    display: none;
     position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
   background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.noto {
     font-family: 'Noto Sans', sans-serif;   
}


header{
   background-color:#198858 ;
   padding-bottom: 50px;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 55px;
   color: lavender;
   font-family: 'Noto Sans', sans-serif;                
   }

.logo{

   width: 10%;                
   position: relative;
   bottom: 20px;
   left: 50px;

   
}

#page-title{
   padding-top: 10px;
   text-align: center;
   font-family: nunito;
   color: #FFF;
   font-weight: bold;
}

.getzakra{
   padding: 15px 50px 15px 50px;
   background-color: rgb(255,163,25);
   border-bottom-right-radius: 5px ;
   border-bottom-left-radius: 5px ;
   border-top-right-radius: 5px ;
   border-top-left-radius: 5px ;
   color: white;
}

.pricing, .StarterDemos, .Pro, .Support, .Blog, .Account {
   color: white;
}

.titlefont{
   font-size: 40px;
}

.titlefont2{
   font-size: 15px;
}

.date{
   padding: 3px 7px 3px 7px;
   color: white;
   background-color: rgb(76, 123, 240);
}

.feature {
   padding: 5px 5px 5px 5px;
   color: white;
   background-color: rgb(74, 198, 214);
}

.fix {
   padding: 5px 5px 5px 5px;
   color: white;
   background-color: rgb(21, 195, 158);
   

}

.article1{

   position: relative;
   left: 250px;                
   padding: 10px 20px 10px 20px;
   margin: 15px 0px 15px 0px;
   background-color: #f8f8f8;
   width: 900px;

}

.enhancement {

   padding: 5px 5px 5px 5px;
   color: white;
   background-color: rgb(255, 192, 53);


}

.fontstyle2 {

   font-family: monospace , sans-serif;

}

.fontstyle2 section {
   display: flex;
   flex-direction: column;
}


.footer {
   font-family: 'Nunito', sans-serif;
   background-color: #f8f8f8;
}

.logo2 {

   width: 25%;     
   position: relative;
   right: 10px           

}

.footer-green{
   color: #39c0a4;
}

.footer div{
   display: flex; 
   justify-content:space-between; 
   margin: 0px 120px 0px 120px;
   

}

.copyright {

   text-align: center;


}